@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1></h1>
    <p class="lead">
        <img width="1000" height="600" style="background:rgb(123,128,139)" alt="Free stock photo of street, car, parking, auto" data-pin-media="https://images.pexels.com/photos/28993/pexels-photo.jpg?w=800&amp;h=1200&amp;fit=crop&amp;auto=compress&amp;cs=tinysrgb" src="https://images.pexels.com/photos/28993/pexels-photo.jpg?h=350&amp;auto=compress&amp;cs=tinysrgb">


    </p>
</div>


